{% extends "layout.twig" %}

{% block title %}Hlavní stránka | {% endblock %}
{% block content %}
    <section>
        <h1>Přihlášení studenta</h1>
        <form method="post" action="{{ currentUrl }}">
            <div class="mb-3">
                <label for="username">Uživatelské jméno</label>
                <input id="username" class="form-control" type="text" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password">Heslo</label>
                <input id="password" class="form-control" type="password" name="password" required>
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-outline-success" name="login_form" value="Přihlásit se">
            </div>
        </form>
    </section>
{% endblock %}