<div class="mb-3">
    <label for="name">Jméno</label>
    <input id="name" class="form-control" type="text" name="name" required value="{{ post.name ?: '' }}">
</div>
<div class="mb-3">
    <label for="surname">Příjmení</label>
    <input id="surname" class="form-control" type="text" name="surname" required value="{{ post.surname ?: '' }}">
</div>
<div class="mb-3">
    <label for="username">Uživatelské jméno</label>
    <input id="username" class="form-control" type="text" name="username" required value="{{ post.username ?: '' }}">
</div>